{% load bootstrap4 %}
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>{{user.username}}</title> -->
    {% block styles%}
        {% bootstrap_css%}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tangerine&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% endblock%}
    {{ form.media }}
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#" style="color: whitesmoke; font-family: 'Lobster', cursive; font-size: 25px;">CRIMMZ-PHOTO-BOOTH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
                <div class="col-sm-4 col-md-4">

                      </div>
            <li class="nav-item" style="float:right;">
                <a class="nav-link" href="{% url 'welcome' %}">BACK</a>
            </li>
            
        </ul>
      </div>
<!-- <div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+</button>
    </div>
</div> -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
            <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Save"/>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
    </div>
    <hr>
</div>
{% for image in images%}
<div class="col-md-3 card" style="margin:10px;">
<h4 style="text-align:center;font-family: 'Playfair Display', serif; margin-top:20px;">{{ image.title }}</h4>
<img class="img-fluid" src="{{image.image.cdn_url }}-/crop/600x600/center/-/quality/lightest/" alt="">
<p style="font-family: 'Open Sans Condensed', sans-serif;">{{ image.description }}</p>
<p style="font-family: 'Open Sans Condensed', sans-serif;font-weight: bold; color: rgb(192, 185, 185);"><i>- {{ image.posted_by }} -</i></p>
{% load ratings %}
<h4>QUALITY:</h4>
{% ratings image %}
<h4>skills:</h4>
{% ratings image %}
<!-- <h4>Content:</h4>
{% ratings image %} -->
<a href="{{ image.link }}">{{ image.link }}</a>
</div>

{% endfor%}
</div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

{% bootstrap_javascript %}
<script>
window.addEventListener("pageshow", function (event) {
var historyTraversal = event.persisted ||
    (typeof window.performance != "undefined" &&
        window.performance.navigation.type === 2);
if (historyTraversal) {
    // Handle page restore.
    window.location.reload();
}
});
$('.ratings').rating(function(vote , event){
$.ajax({
   method:'POST',
   url:'instrating.php',
   data:{vote:vote}
}).done(function(info){
   $('.info').html("<b>"+info+"/10</b>")
})
})
</script>
{% endblock %}
<!-- Footer -->
<section id="footer">
<div class="container">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <style>
  body {
    background-image: linear-gradient(  #4d0000,  #4d0000)
}
      </style>
      
    </div>
    </hr>
  </div>	
</div>
</section>



</body>
</html>